
html, body {
    height: 100%;
}

.container {
    display: flex;
    padding: 1rem;
    border-radius: 0.15rem;
}

.outer {
    flex-flow: row wrap;
    gap: 2%;
    justify-content: space-around;
    height: 90vh;
}

.artifacts, .tokens, .controls {
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.artifacts {
    flex-basis: 20%;
    border: 1px solid black;
}

.tokens {
    height: 60%;
    width: 75%;
    justify-content: space-around;
}

.controls {
    flex-basis: 10%
}


.button {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    flex-flow: column wrap;
    justify-content: center;
}

.controls .button {
    font-size: 2rem;
    font-weight: bold;
    aspect-ratio: 1;
}

h2 {
    font-size: 2rem;
}

.untapped-area {
    width: 100%;
    text-align: center;
    flex-basis: 60%;
}

.tapped-area {
    width: 100%;
    transform: rotate(90deg);
    text-align: center;
}

.untapped {
    font-size: 12vw;
}

.tapped {
    font-size: 7vw;
    transform: rotate(90deg);
}

.plus {
    background: red;
}

.minus {
    background: blue;
}

#treasure {
    background: goldenrod;
}

#clue {
    background: lightskyblue;
}

#food {
    background: lightgreen;
}

#untap-all {
    background: darkcyan;
}

#clear {
    background: darkviolet;
}

